{% extends 'base.html' %}


{% block content %}
{% load static %}
<section class="section-pagetop bg">
    <div class="container">
        <h1 class="title-page text-center">About Us</h1>
        
    </div> <!-- container //  -->
    <div class="px-4 py-5 my-2 text-center">
  
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-2">Welcome to Pawsome Pet Products, your one-stop destination for all your pet's needs! 
          Founded with a passion for animals and a commitment to providing high-quality products and exceptional customer service,
           we offer a wide range of pet supplies, from nutritious food and engaging toys to comfortable bedding and
            essential grooming tools. Our mission is to enhance the lives of pets and their owners by offering carefully 
            selected products that promote health, happiness, and well-being. Whether you're a dog lover, cat enthusiast, 
            or small animal aficionado, we have everything you need to ensure your beloved companion thrives. At Pawsome Pet Products,
             we believe that pets are family, and we're dedicated to making their lives as joyful and fulfilling as possible. 
             Shop with us today and experience the difference that a truly pet-centric store can make!</p>
        
      </div>
    </div>
    </section>


{% endblock %}