{% extends 'base.html' %}


{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h1 class="title-page text-center">Contact Us</h1>
        
    </div> <!-- container //  -->
    
    <!-- ========================= SECTION INTRO END// ========================= -->

<main>
    <div class="container py-5 ">
      <div class="row g-5">
        <!-- Contact Information Block -->
        <div class="col-xl-6 mx-auto">
          <div class="row row-cols-md-2 g-4">
            <div class="aos-item" data-aos="fade-up" data-aos-delay="200">
              <div class="aos-item__inner">
                <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                  <div class="d-flex justify-content-start">
                    <i class="bi bi-envelope-fill"></i>
                    <span class="h5 ms-2">Email</span>
                  </div>
                  <span>pawsomepetproducts@outlook.com</span>
                </div>
              </div>
            </div>
            <div class="aos-item" data-aos="fade-up" data-aos-delay="400">
              <div class="aos-item__inner">
                <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                  <div class="d-flex justify-content-start">
                    <i class="bi bi-telephone-fill"></i>
                    <span class="h5 ms-2">Phone</span>
                  </div>
                  <span>+9876543210</span>
                </div>
              </div>
            </div>
          </div>
          <div class="aos-item mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="aos-item__inner">
              <div class="bg-light hvr-shutter-out-horizontal d-block p-3">
                <div class="d-flex justify-content-start">
                    <i class="bi bi-geo-alt-fill"></i>
                  <span class="h5  ms-2"> Store location</span>
                </div>
                <span> Shop No 349/15, Nucleaus Mall, Maradu, Kochi - 682304</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
{% endblock %}