{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% if validlink %}

<div class="card mx-auto" style="max-width: 720px; margin-top:100px;">
    <div class="card-body">
        <h4 class="card-title mb-4 text-center">Set New Password</h4>
        <p>{% translate 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
               
                <div class="form-group">
                    <input type="password" id="id_new_password1" class="form-control" placeholder="Enter New Password" name="new_password1" required>
                  </div>
                  {{ form.new_password1.errors }}
                  <div class="form-group">
                    <input type="password" id="id_new_password2" class="form-control" placeholder="Confirm New Password" name="new_password2" required>
                  </div> 
                  {{ form.new_password2.errors }}
                <input type="submit" class="btn btn-primary" value="{% translate 'Set new password' %}">
            </fieldset>
            </form>
    </div>
</div>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}