<div id="products-list" class="row">
    {% for product in products %}
    <div class="col-md-4">
        <a href="{% url 'single_product_page' product.id %}">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <img src="{{product.thumbnail.url}}">
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                <div class="fix-height">
                    {% if product.size is not None %}
                    <a href="{% url 'single_product_page' product.id %}" class="title">{{product.product_name.name}} , {{product.size}}</a>
                    {% else %}
                    <a href="{% url 'single_product_page' product.id %}" class="title">{{product.product_name.name}} </a>
                    {% endif %}
                    <div class="price-wrap mt-2">
                        <span class="price">₹ {{product.price}}</span>
                        <!-- <del class="price-old">$1980</del> -->
                    </div> <!-- price-wrap.// -->
                </div>
                <a href="{% url 'single_product_page' product.id %}" class="btn btn-block btn-success">View Product </a>
            </figcaption>
        </figure>
    </a>
    </div>
    {% endfor %}
</div>