<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <a href="{% url 'single_product_page' product.id %}">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <img src="{{product.thumbnail.url}}">
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                <div class="fix-height">
                    {% if product.size is not None %}
                    <a href="{% url 'single_product_page' product.id %}" class="title">{{product.product_name.name}} , {{product.size}}</a>
                    {% else %}
                    <a href="{% url 'single_product_page' product.id %}" class="title">{{product.product_name.name}} </a>
                    {% endif %}
                    <div class="price-wrap mt-2">
                        <span class="price">₹ {{product.price}}</span>
                        <!-- <del class="price-old">$1980</del> -->
                    </div> <!-- price-wrap.// -->
                </div>
                <a href="{% url 'single_product_page' product.id %}" class="btn btn-block btn-success">View Product </a>
            </figcaption>
        </figure>
    </a>
    </div>
    {% endfor %}
</div>

{% if products.has_other_pages %}
<nav class="mt-4" aria-label="Page navigation sample">
    <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="#" data-page="{{ products.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="#" data-page="{{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item"><a class="page-link" href="#" data-page="{{ products.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}