{% load active_link_tags %}
<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item {% active_link 'user_profile' %}" href="{% url 'user_profile' %}"> Edit Profile</a>
        <a class="list-group-item {% active_link 'change_password' %}" href="{% url 'change_password' %}"> Change Password </a>
        <a class="list-group-item {% active_link 'user_orders' %}" href="{% url 'user_orders' %}"> My Orders </a>
        <a class="list-group-item {% active_link 'user_addresses || add_address || set_default_address || edit_address || delete_address' %}" href="{% url 'user_addresses' %}"> My Addresses </a>
        <a class="list-group-item" href="#">Wallets </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block link-danger" href="{% url 'logout_page' %}"> <i class="fa fa-power-off text-danger"></i> <span class=" h5 text text-danger">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>