<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item" href="{% url 'user_profile' %}"> Edit Profile</a>
        <a class="list-group-item" href="{% url 'change_password' %}"> Change Password </a>
        <a class="list-group-item" href="#"> My Orders </a>
        <a class="list-group-item" href="#"> My Addresses </a>
        <a class="list-group-item" href="#">Wallets </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout_page' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
    <!--   SIDEBAR .//END   -->
</aside>