{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include 'user_home/user_dashboard.html' %}
        <main class="col-md-9">
            <article class="card">
            <div class="card-body">
               
                <div class="col"><header class=""><h2 class=" text-center ">My Orders</h2></header></div>
                
                   
                 <!-- Alert box for displaying messages -->
                 {% if messages %}
                 <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                 {% for message in messages %}
                     {{message}}
                 {% endfor %}                      
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
                 {% endif %}
                
                 <div class="row"> 
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Order Number</th>    
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.created_at|date:"d-m-Y" }}</td>
                                <td>{{ order.order_number }}</td>        
                                <td>₹ {{ order.total_amount }}</td>
                                <td>{{ order.get_status_display }}</td>
                                <td>
                                    <a href="{% url 'user_order_details' order.order_number %}" class="btn btn-info">Details</a>
                                   
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                </div> <!-- row.// -->

           
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    {% endblock %}