{% extends 'admin/adminbase.html' %}

{% block content %}
{% load crispy_forms_tags %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Coupons List </h2>
        </div>
        <div>
            <a href="{% url 'admin_add_coupon' %}" class="btn btn-primary">Add New Coupon</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <form action="{% url 'admin_coupons' %}" method="GET">
                    <input type="text" placeholder="Search Coupons" name="q" value="{{request.GET.q}}" class="form-control">
                    </form>
                </div>
                {% include 'alert_message.html' %}
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select> -->
                <!-- </div> -->
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div> -->
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th scope="col">Coupon Code</th>
                            <th scope="col">Discount Percent</th>
                            <th scope="col">Minimum Order Amount</th>
                            <th scope="col">Maximum Discount Limit</th>
                            <th scope="col">Valid From</th>
                            <th scope="col">Valid To</th>
                            <th scope="col">Is Active</th>

                            <th scope="col" class=""> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupons %}
                        <tr>
                            <td>{{forloop.counter}}</td>                            
                            <td><b>{{coupon.code}}</b></td>
                            <td><b>{{coupon.discount_percent}}</b></td>
                            <td><b>{{coupon.minimum_order_amount}}</b></td>
                            <td><b>{{coupon.maximum_discount_limit}}</b></td>
                            <td><b>{{coupon.valid_from}}</b></td>
                            <td><b>{{coupon.valid_to}}</b></td>
                            <td>{{coupon.active}}</td>
                            <td class="">
                                <a href="{% url 'admin_edit_coupon' coupon.id %}" class="btn btn-md rounded font-sm">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if coupons.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ coupons.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons md-chevron_left"></i>
                        </a>
                    </li>
                {% endif %}
    
                {% for i in coupons.paginator.page_range %}
                    {% if coupons.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if coupons.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ coupons.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons md-chevron_right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    </section> 



{% endblock %}