{% extends 'admin/adminbase.html' %}

{% block content %}
{% load crispy_forms_tags %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Product Variants List </h2>
        </div>
        <div>
            <a href="{% url 'admin_add_product_variant' %}" class="btn btn-primary">Add New Product Variant</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <form action="{% url 'admin_product_variants' %}" method="GET">
                    <input type="text" placeholder="Search Pet Types" name="q" value="{{request.GET.q}}" class="form-control">
                    </form>
                </div>
                {% include 'alert_message.html' %}
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div> -->
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div> -->
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Size</th>
                            <th scope="col">Price in Rs</th>
                            <th scope="col">Stock Qty</th>
                            <th scope="col">Is Featured</th>
                            <th scope="col">Average Rating</th>
                            <!-- <th scope="col">Images</th> -->
                            <th scope="col">Is Active</th>
                            <th scope="col" class=""> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_variant in product_variants %}
                        <tr>
                            <td class="align-middle">{{forloop.counter}}</td>
                            <td class="align-middle">{{product_variant.id}}</td>
                            <td class="align-middle"><b>{{product_variant.product_name}}</b></td>
                            <td class="align-middle"><b>{{product_variant.size}}</b></td>
                            <td class="align-middle"><b>{{product_variant.price}}</b></td>
                            <td class="align-middle"><b>{{product_variant.stock}}</b></td>
                            <td class="align-middle"><b>{{product_variant.is_featured}}</b></td>
                            <td class="align-middle"><b>{{product_variant.average_rating}}</b></td>
                            <!-- <td class="align-top">
                                {% for image in product_variant.images.all %}
                                <img src="{{image.images.url}}" class="img-sm img-thumbnail" alt="image1">
                                {% endfor %}
                            </td> -->
                            <td class="align-middle">{{product_variant.is_active}}</td>
                            <td class="align-middle">
                                <a href="{% url 'admin_edit_product_variant' product_variant.id %}"class="btn btn-md rounded font-sm">Edit</a>
                                <a href="{% url 'admin_add_edit_product_images' product_variant.id %}" class="btn btn-md rounded font-sm">Add Images</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if product_variants.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_variants.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons md-chevron_left"></i>
                        </a>
                    </li>
                {% endif %}
    
                {% for i in product_variants.paginator.page_range %}
                    {% if product_variants.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if product_variants.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_variants.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons md-chevron_right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section> 
<!-- content-main end// -->
_variant
{% endblock %}