{% extends 'admin/adminbase.html' %}

{% block content %}

<section id="wrapper">
    <div class="p-4">
        <div class="content-header d-flex justify-content-between align-items-center">
            <div class="welcome">
                <div class="content rounded-3 p-3">
                    <h1 class="fs-3">Welcome to Dashboard</h1>
                    <p class="mb-0">Hello {{ admin_name }}, welcome to your awesome dashboard!</p>
                </div>
            </div>
            <div>
                <a href="" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i> Sales Report</a>
            </div>
        </div>

        <section class="statistics mt-4">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-monetization_on"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹{{ total_order_amount }}</span>
                                <span class="text-sm">Total Revenue</span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light">
                                <i class="text-success material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> 
                                <span>{{ total_order_count }}</span>
                                <span class="text-sm">Excluding orders in transit</span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light">
                                <i class="text-warning material-icons md-qr_code"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Discounts</h6>
                                <span>₹{{ total_discounts_given }}</span>
                                <span class="text-sm">Total Discounts Given</span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light">
                                <i class="text-info material-icons md-shopping_basket"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> 
                                <span>₹{{ monthly_earnings }}</span>
                                <span class="text-sm">Based on your local time</span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <canvas id="orderChart"></canvas>
                    </article>
                </div>
                
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card mb-4">
                    <article class="card-body">
                        <h4 class="card-title">Monthly User Registrations</h4>
                        <canvas id="userChart"></canvas>
                    </article>
                </div>
                
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <div class="text">
                            <h6 class="mb-1 card-title"></h6>
                            <span><a href="">Best Selling Product</a></span>
                            <span class="text-sm">
                            </span>
                            
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <div class="text">
                            <h6 class="mb-1 card-title"></h6>
                            <span><a href="">Best Selling Category</a></span>
                            <span class="text-sm">
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <div class="text">
                            <h6 class="mb-1 card-title"></h6>
                            <span><a href="">Best Selling Brands</a></span>
                            <span class="text-sm">
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            
        </div>
    </div>
</section>    


{% endblock %}
