{% extends 'admin/adminbase.html' %}

{% block content %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Category List </h2>
        </div>
        <div>
            <a href="{% url 'admin_add_category' %}" class="btn btn-primary">Add New Category</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <form action="{% url 'admin_category' %}" method="GET">
                        <input type="text" placeholder="Search Categories" name="q" value="{{request.GET.q}}" class="form-control">
                        </form>
                    </div>
                    {% include 'alert_message.html' %}
                    <!-- <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div> -->
                <!-- <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div> -->
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Is Active</th>
                            <th scope="col" class=""> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{category.id}}</td>
                            <td><b>{{category.name}}</b></td>
                            <td>{{category.is_active}}</td>
                            <td class="">
                                <a href="{% url 'admin_edit_category' category.id %}" class="btn btn-md rounded font-sm">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                {% if categories.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ categories.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons md-chevron_left"></i>
                        </a>
                    </li>
                {% endif %}
    
                {% for i in categories.paginator.page_range %}
                    {% if categories.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if categories.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ categories.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">
                            <i class="material-icons md-chevron_right"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->



{% endblock %}