{% extends 'admin/adminbase.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- <section class="content-main">

    <div class="card mx-auto" style="max-width:720px; margin-top:40px;">
        <article class="card-body">
          <header class=""><h2 class=" text-center ">Add Product Variant</h2></header>
    
          <form id="product-variant-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }} -->
            
            <!-- Image Upload and Crop Section -->
            <!-- <div class="form-group">
                <label for="id_thumbnail">Thumbnail</label>
                <input type="file" id="thumbnail-input" name="thumbnail" accept="image/*" class="form-control">
            </div> -->
            
            <!-- Image Preview -->
            <!-- <div id="image-preview-container">
                <img id="image-preview" style="max-width: 100%; display:none;">
            </div> -->
            
            <!-- Cropper Container -->
            <!-- <div id="cropper-container" style="display:none;">
                <img id="image-cropper" style="max-width: 100%;">
            </div>
            
            <button class="btn btn-primary" type="submit">Add</button>
            <a class="btn btn-secondary" href="{% url 'admin_product_variants' %}">Back</a>
          </form>
          
          </article>
      </div> 
    </section> -->


 
<section class="content-main">

<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
    <article class="card-body">
      <header class=""><h2 class=" text-center ">Add Product Variant</h2></header>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Add</button>
        <a class="btn btn-secondary" href="{% url 'admin_product_variants' %}">Back</a>
      </form>
      
      
     
      </article>
  </div>
</section>


{% endblock %}